body{
    margin: 50px 300px 0px 300px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #902923
    }
header{
    background-color: black;
    vertical-align: middle;
}    
h3{
    align-content: center;
}
.menu{
    background-color: black;
    align-items: center;
    color: #902923;
}
summary > * {
    display: inline;
    align-items: stretch;
  }

.logotorto{
    width: 320px;
    height: 320px;
    margin: 0 auto;
    display: block;
}
.spotifycard{
    border-radius:12px;
    width: 100%;
    height: 232px; 
}
nav ul li a {
    color: #902923;
}
.footer{
    color: #902923;
    }
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
img{
    width: 320px;
    margin: 0 auto;
    display: block;
}
a{
    color:#902923
    
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}